body {
  background-color: rgba(244, 247, 255, 0.94);
}

body .youtube-container {
  padding-bottom: 78px;
}

.form-control {
  transition: all 0.2s ease-in-out;
}

.form-control:hover {
  transform: scale(1.1);
  border: 3px solid rgba(51, 51, 51, 0.288);
}

.form-control:active {
  border: 3px solid aquamarine;
}

.form-control:focus {
  border: 3px solid aquamarine;
}

.suscribe {
  transition: all 0.2s ease-in-out;
}

.suscribe:hover {
  transform: scale(1.1);
}

.form-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}

.form-wrapper .form-wrap {
  border: 4px solid rgba(48, 48, 48, 0.609);
  padding: 2rem;
  border-radius: 50px;
}

.form-wrapper .col-md-4 {
  width: 100%;
}

.form-wrapper .btn {
  background-color: cadetblue;
  border-color: rgba(111, 111, 111, 0.662);
  color: white;
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
  transition: all 0.2 ease-in-out;
  cursor: pointer;
}

.form-wrapper .btn:hover {
  background-color: rgba(102, 197, 165, 0.806);
  text-decoration: solid;
  border-color: rgba(0, 26, 255, 0.731);
  border-style: none;
}

.nav-link {
  font-size: x-large;
  text-decoration: solid;
  transform: all 0.5s easy-in-out;
}

.nav-link:hover {
  transform: scale(1, 1);
  color: navy;
  font-family: 'Poppins', sans-serif;
}

.nav-item {
  padding-left: 100px;
}

.navbar {
  position: sticky;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-brand
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 0.817);
  font-weight: bold;
}

.starter {
  padding-top: 40px;
}

.title-starter {
  padding-bottom: 40px;
}

.suscribe {
  padding-bottom: 25px;
  text-align: center;
  transition: all .5s ease-in-out;
}

.suscribe:hover {
  color: indianred;
  transform: scale;
  font-style: oblique;
  font-weight: bold;
}

.col-md-4 {
  padding-bottom: 20px;
}

.container {
  padding-bottom: 40px;
}

h1 {
  transition: all .9s ease-in-out;
}

h1:hover {
  color: rgba(44, 0, 238, 0.846);
}

@media screen and (max-width: 3000px) {
  .toplogo {
    width: 100%;
    height: 60px;
  }
  .form-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-right: 350px;
    padding-left: 350px;
  }
}

@media screen and (max-width: 2000px) {
  .toplogo {
    width: 100%;
    height: 60px;
  }
  .form-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-right: 250px;
    padding-left: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .toplogo {
    width: 100%;
    height: 60px;
  }
  .form-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media screen and (max-width: 768px) {
  .toplogo {
    width: 100%;
  }
  .form-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 480px) {
  .toplogo {
    width: 100%;
  }
  .form-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
