.form-control {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        border: 3px solid rgba(51, 51, 51, 0.288);
    }
    &:active {
        border: 3px solid aquamarine;
    }
    &:focus {
        border: 3px solid aquamarine;
    }
}

.suscribe {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}


.form-wrapper{
     .form-wrap{
        border: 4px solid rgba(48, 48, 48, 0.609);
        padding: 2rem;
        border-radius: 50px;
        background-color: rgba(178, 178, 178, 0.677);
        transition: all 0.4s ease-in-out;
        &:hover{
            background-color: rgba(82, 114, 152, 0.728);
        }
     }

     .col-md-4{
        width: 100%;
     }

     .btn {
        background-color: cadetblue;
        border-color: rgba(111, 111, 111, 0.662);
        color: white;
        margin: 1rem 0;
        width: auto;
        text-transform: uppercase;
        transition: all 0.2 ease-in-out;
        cursor: pointer;
        &:hover{
            background-color: rgba(102, 197, 165, 0.806);
            text-decoration: solid;
            border-color: rgba(0, 26, 255, 0.731);
            border-style: none;
        }
     }
}
