.form-control {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.form-check-input {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        background-color: palegoldenrod;
    }
}

.form-label{


    .form-wrapper {
        padding-top: 160px;
    }
    
    .form-wrap {
        margin-left: 30px;
        margin-right: 30px;
    }

}